<template>
  <div id="content_management">
    <div class="content-container">
      <div class="content-search-box">
        <div class="search-box-left">
          <SearchBox
            :categoryOptions="categoryOptions"
            :csubCategoryOptions="csubCategoryOptions"
            :selectPlaceholder="selectPlaceholder"
            @searchValue="getValue"
            @category="getSelectType"
            @csubCategory="getSelectCsubCategory"
            @onSearch="onSearch()"
          />
        </div>
        <div class="search-box-right">
          <el-button
            @click="dialogVisible = true"
            class="create-btn"
            icon="el-icon-circle-plus-outline"
            >{{ $t('create_btn') }}</el-button
          >
        </div>
      </div>
      <div class="list-content">
        <div class="head">
          <el-form
            ref="form"
            :inline="true"
            :model="form"
            label-width="0"
            class="form-inline"
          >
            <el-form-item>
              <h3 class="title">{{$t('sort_by')}}</h3>
              <el-select v-model="form.sort" placeholder="select">
                <el-option label="Newest" value="Newest"></el-option>
                <el-option label="B" value="B"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
              <h3 class="title">{{$t('status')}}</h3>
              <el-select v-model="form.status" placeholder="select">
                <el-option v-for="(item,index) in status_options" :key="index" :label="item" :value="item"></el-option>
              </el-select>
            </el-form-item>
          </el-form>
        </div>
        <div class="article">
          <div class="article-item">
            <div class="article-content-left">
              <!-- images -->
              <div class="image">
                <!-- <img src="./../../assets/imgs/test.png" alt="image" /> -->
                <div class="share-icon">
                  <span class="s-icon1"></span>
                  <span class="s-icon2"></span>
                </div>
              </div>
              <div class="article">
                <h3 class="article-head">
                  Building the resilient organization
                </h3>
                <div class="article-bottom">
                  <p>
                    Most resilient organizations focus on all of these traits to
                    some degree, not just one or two of them. In part, this is
                    because these characteristics often overlap and support one
                    another. For instance, companies that practice stakeholder
                    capitalism are likely focused on trustworthiness and ethical
                    behavior.
                  </p>
                  <p>
                    Further, these five attributes aren’t immutable, nor do they
                    just occur organically. They require desire, effort,
                    investment, and action to cultivate and maintain. The survey
                    suggests that organizations that deliberately build these
                    attributes into their mindsets and cultures are better
                    positioned to overcome disruptions and help usher in a
                    “better normal” postpandemic. For example, CXOs who said
                    their organizations had done very well in cultivating
                    resilient cultures were about three times more likely than
                    those lacking resilient cultures to say they weathered the
                    events of 2020 well.
                  </p>
                </div>
              </div>
            </div>
            <div class="middle-line"></div>
            <div class="article-content-right">
              <el-dropdown class="disableIcon">
                <span class="el-dropdown-link">
                  <i class=" el-icon-more"></i>
                </span>
                <template #dropdown>
                  <el-dropdown-menu>
                    <el-dropdown-item>{{$t('disable')}}</el-dropdown-item>
                  </el-dropdown-menu>
                </template>
              </el-dropdown>
              <i class="el-icon-share"></i>
              <ul>
                <li>
                  <h4>{{$t('posted_by')}}</h4>
                  <span>Jacky Chan</span>
                </li>
                <li>
                  <h4>Posted date</h4>
                  <span>April,22,2021</span>
                </li>
                <li>
                  <h4>Status</h4>
                  <span>Active</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <el-dialog
        class="content-dialog"
        v-model="dialogVisible"
        width="1180px"
        :before-close="handleClose"
      >
        <div class="article-title" v-if="is_create">{{article_info.article_title}}</div>
        <div class="article-info" v-else>
          <div class="info-label">
            publish on
          </div>
          <div class="info-value">
            {{article_info.publish_time}}
          </div>
          <div class="info-label">
            last modified on
          </div>
          <div class="info-value">
            {{article_info.modify_time}}
          </div>
          <div class="info-label">
            last modified by
          </div>
          <div class="info-value">
            {{article_info.moditor}}
          </div>
        </div>
        <div class="article-item">
          <div class="article-pic"></div>
          <div class="article-detail">
            <el-form-item label="Article Name" required></el-form-item><icon></icon>
            <el-input v-model="input"></el-input>
            <el-form-item label="Keywords" required></el-form-item>
            <el-input v-model="input"></el-input>
            <el-input v-model="input"></el-input>
            <el-input v-model="input"></el-input>
            <el-input v-model="input"></el-input>
          </div>
        </div>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogVisible = false"
              >确 定</el-button
            >
          </span>
        </template>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import SearchBox from "./../../components/SearchBox";
export default {
  components: {
    SearchBox,
  },
  data() {
    return {
      dialogVisible: false,
      categoryOptions: {
        all: "All",
      },
      csubCategoryOptions: {
        all: "All",
      },
      selectPlaceholder: "Select",
      SelectInfo: {
        name: "",
        category: "",
        csubCategory: "",
      },
      form: {
        sort: "",
        target: "",
      },
      is_create: true,
      status_options: {
        published: 'Published',
        scheduled: 'Scheduled',
        draft: 'Draft',
        disabled: 'Disabled',
      },
      article_info: {
        publish_time: 'MAR,22,2021',
        modify_time: 'MAR,23,2021',
        moditor: 'Jack',
        article_title: 'New Content'
      }
    };
  },
  methods: {
    handleClose() {},
  },
};
</script>

<style lang="less">
#content_management {
  .el-dialog__body {
    padding-top: 0 !important ;
  }
  .article-title {
    color: #014C48 100%;
    font-size: 22px;
    text-align: left;
    margin-bottom: 24px;
  }
  .article-info {
    display: flex;
    margin: 8px 0 40px 0;
    div {
      margin:0 40px 0 0;
      color: #989898;
      font-size: 12px;
      
    }
    .info-label {
      font-weight: bold;
      margin-right: 8px;
    }
  }
  .article-item {
    display: flex;
    .article-pic {
      width: 274px;
      height: 274px;
      background: #999;
    }
    .article-detail {
      font-size: 10px;
      color: #717276;
      text-align: left;
      margin-left: 40px;
      .el-input__inner {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px #E6E6E6 solid !important;
        height: 24px;
      }
    }
  }
}
</style>
