@globalColor:#EB553D;

html, body, h1, h2, h3, h4, h5, h6, ul, li,p{
    padding: 0;
    margin: 0;
    font-family: Public Sans;
}
ul, li{
    list-style: none;
}

.el-menu {
    width: 230px;
    text-align: left;
    background: #20222A !important;
    border: 0 !important;
    li  {
        color: azure;
        &:hover{
            color: #20222A;
        }
    }
}
.user-name {
    padding: 0 10px;
}
.index-vue {
    height: 100%;
    color: #666;
}
/* 侧边栏 */
aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 64px;
    background: #20222A;
    height: 100%;
    overflow: auto;
}
.logo-c {
    height: 50px;
    display: flex;
    align-items: center;
    color: rgba(255,255,255,.8);
    font-size: 16px;
    justify-content: center;
}
.logo {
    width: 40px;
    margin-right: 10px;
}
.aside-big {
    width: 230px;
}
/* 主体页面 */
.sec-right {
    height: 100%;
    margin-left: 240px;
    transition: margin-left .3s;
    overflow: hidden;;
    background: #f3f7fd;
}
/* 主体页面头部 */
header {
    height: 50px;
    border-bottom: none;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 10px;
    font-size: 14px;
}
header .ivu-icon {
    font-size: 24px;
}
.refresh-c {
    margin: 0 30px;
    cursor: pointer;
}
.h-right {
    display: flex;
    align-items: center;
}
.h-left {
    display: flex;
    align-items: center;
}
.user-img-c img {
    width: 100%;
}
.notice-c {
    cursor: pointer;
    position: relative;
}
.newMsg {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FF5722;
    right: 0;
    top: 0;
}
.user-img-c {
    width: 34px;
    height: 34px;
    background: #ddd;
    border-radius: 50%;
    margin: 0 40px;
    overflow: hidden;
}
.tag-options {
    cursor: pointer;
    position: relative;
}
.div-tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
}
.div-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    height: 34px;
    width: 160px;
    font-size: 18px;
}
/* 标签栏 */
.ul-c {
    height: 34px;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
    width: calc(100% - 160px);
}
.ul-c li {
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    height: 24px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 5px 2px 3px;
    border: 1px solid #e6e6e6;
}
a {
    color: #666;
    transition: none;
}
.li-a {
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ul-c .ivu-icon {
    margin-left: 6px;
}
.active {
    background: #409eff;
    border: 1px solid #409eff;
}
.active a {
    color: #fff;
}
.active .ivu-icon {
    color: #fff;
}
/* 主要内容区域 */
.main-content {
    height: calc(100% - 88px);
    overflow: hidden;
}
.view-c {
    position: relative;
    height: 100%;
    overflow: hidden;
    padding: 10px;
}
.pointer {
    cursor: pointer;
}
.crumbs {
    margin-left: 10px;
    color: #97a8be;
    cursor: default;
}
.menu-level-3 .ivu-icon {
    font-size: 18px;
}
.shrink {
    text-align: center;
}
.external {
    color: rgba(255,255,255,.7);
}
.external > i {
    margin-right: 6px;
}

// search-box
.search-box {
    margin-bottom: 20px;
    display: flex;
    .searchBy{
        padding-top: 30px;
        .search-input {
            width: 300px;
            display: inline-block;
            box-sizing: border-box;
        }
    }
    h3{
        height: 30px;
        line-height: 30px;
        font-weight: 400;
        color: #999;
        text-align: left;
        font-size: 12px;
    }
    .search-category{
        width: 150px;
    }
    .search-btn {
        margin-top: 30px;
        display: inline-block;
        color: #fff;
        background: @globalColor;
        &:hover{
            background: #ee5e48;
            color: #fff;
        }
    }
    
}

// reward page 
.reward-container {
    padding: 10px;
    padding-top: 5px;
    h2 {
        font-size: 16px;
        margin: 20px;
        text-align: center;
    }
    
    .reward-search-box {
        padding: 10px;
        border-radius: 5px;
        display: flex;
        .search-box-left {
            width: 850px;
            padding: 20px 0;
        }
        .search-box-right {
            flex: 1;
            margin: 50px 20px;
            border-left: 2px solid #e8e8e8;
            .create-btn{
                color: #fff;
                background: @globalColor;
                &:hover{
                    background: #ee5e48;
                    color: #fff;
                }
            }
            
        }
    }
    .reward-content {
        padding: 10px 20px;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #dcdcdc;
        
        .head{
            padding: 20px 0;
            text-align: left;
            .form-inline{
                display: inline-block;
                float: none;
                .title{
                    height: 30px;
                    line-height: 30px;
                    font-weight: 400;
                    color: #999;
                    text-align: left;
                    font-size: 12px;
                }
            }
        }
        .article {
            display: block;
            .article-item{
                display: flex;
                height: 250px;
                margin-bottom: 20px;
                border: 1px solid #e6e6e6;
                border-radius: 5px;
            }
            .article-content-left {
                flex: 4;
                display: flex;
                text-align: left;
                .image{
                    flex: 1;
                    width: 350px;
                    height: 100%;
                    background: #dcdcdc;
                    img{
                        width: 100%;
                    }
                }
                .article{
                    flex: 2;
                    display: block;
                    padding: 20px;
                    .article-head{
                        font-size:16px ;
                        width: 100%;
                        line-height: 30px;
                        height: 30px;
                        margin-bottom: 20px;
                    }
                    .article-bottom{
                        height: 150px;
                        line-height: 24px;
                        font-size: 14px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        word-break: break-all;
                        
                    }
                }
                
            }
            .middle-line{
                width: 0;
                height: 150px;
                border-left: 2px solid #e7e6e6;
                margin-top: 50px;
                
            }
            .article-content-right {
                flex: 1;
                position: relative;
                .disableIcon{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    .el-icon-more{
                        transform:rotate(90deg);
                        -ms-transform:rotate(90deg); 	/* IE 9 */
                        -moz-transform:rotate(90deg); 	/* Firefox */
                        -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
                        -o-transform:rotate(90deg);
                    }
                }
                
                .el-icon-share{
                    position: absolute;
                    bottom: 20px;
                    right: 10px;
                }
                ul{
                    text-align: left;
                    padding:30px;
                    li{
                        margin-bottom: 20px;
                        h4{
                            font-size: 12px;
                            color: #ccc;
                            font-weight: 100;
                        }
                    }
                }
                .detail-btn{
                    position:absolute;
                    right: 20px;
                    bottom: 20px;
                }
            }
        }
    }
}
//content page
.content-container {
    padding: 10px;
    padding-top: 5px;
    h2 {
        font-size: 16px;
        margin: 20px;
        text-align: center;
    }
    
    .content-search-box {
        padding: 10px;
        border-radius: 5px;
        display: flex;
        .search-box-left {
            width: 850px;
            padding: 20px 0;
        }
        .search-box-right {
            flex: 1;
            margin: 50px 20px;
            border-left: 2px solid #e8e8e8;
            .create-btn{
                color: #fff;
                background: @globalColor;
                &:hover{
                    background: #ee5e48;
                    color: #fff;
                }
            }
            
        }
    }
    .list-content {
        padding: 10px 20px;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #dcdcdc;
        
        .head{
            padding: 20px 0;
            text-align: left;
            .form-inline{
                display: inline-block;
                float: none;
                .title{
                    height: 30px;
                    line-height: 30px;
                    font-weight: 400;
                    color: #999;
                    text-align: left;
                    font-size: 12px;
                }
            }
        }
        .article {
            display: block;
            .article-item{
                display: flex;
                height: 250px;
                margin-bottom: 20px;
                border: 1px solid #e6e6e6;
                border-radius: 5px;
            }
            .article-content-left {
                flex: 4;
                display: flex;
                text-align: left;
                .image{
                    flex: 1;
                    width: 350px;
                    height: 100%;
                    background: #dcdcdc;
                    img{
                        width: 100%;
                    }
                }
                .article{
                    flex: 2;
                    display: block;
                    padding: 20px;
                    .article-head{
                        font-size:16px ;
                        width: 100%;
                        line-height: 30px;
                        height: 30px;
                        margin-bottom: 20px;
                    }
                    .article-bottom{
                        height: 150px;
                        line-height: 24px;
                        font-size: 14px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        word-break: break-all;
                        
                    }
                }
                
            }
            .middle-line{
                width: 0;
                height: 150px;
                border-left: 2px solid #e7e6e6;
                margin-top: 50px;
                
            }
            .article-content-right {
                flex: 1;
                position: relative;
                .disableIcon{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    .el-icon-more{
                        transform:rotate(90deg);
                        -ms-transform:rotate(90deg); 	/* IE 9 */
                        -moz-transform:rotate(90deg); 	/* Firefox */
                        -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
                        -o-transform:rotate(90deg);
                    }
                }
                
                .el-icon-share{
                    position: absolute;
                    bottom: 20px;
                    right: 10px;
                }
                ul{
                    text-align: left;
                    padding:30px;
                    li{
                        margin-bottom: 20px;
                        h4{
                            font-size: 12px;
                            color: #ccc;
                            font-weight: 100;
                        }
                    }
                }
                .detail-btn{
                    position:absolute;
                    right: 20px;
                    bottom: 20px;
                }
            }
        }
    }
}