<template>
    <div class="index-vue">
        <!-- 侧边栏 -->
        <aside :class="asideClassName">
            <!-- logo -->
            <div class="logo-c">
                <!-- <img src="../assets/imgs/logo.png" alt="logo" class="logo"> -->
                <span v-show="isShowAsideTitle">iShop Admin System
                </span>
            </div>
            <!-- 菜单栏 -->
            <el-menu
                :default-active="router.path"
                router
                class="el-menu"
                :collapse="isCollapse">
                <el-menu-item v-for="(item, index) in menuItems" :key="index" :index="item.name">
                    <i :class="item.type"></i>
                    <template #title>{{item.text}}</template>
                </el-menu-item>
            </el-menu>
        </aside>

        <!-- 右侧部分 -->
        <section class="sec-right">
            <!-- 头部 -->
            <div class="top-c">
                <header>
                    <div class="h-left">
                        <div class="pointer" @click="isShrinkAside" title="收缩/展开">
                            <i class="el-icon-s-grid"></i>
                        </div>
                        <!-- 面包屑功能 -->
                        <p class="crumbs">{{crumbs}}</p>
                    </div>
                    <div class="h-right">
                        <!-- 用户头像 -->
                        <el-avatar :size="size" :src="userImg"></el-avatar>
                        <el-dropdown trigger="click">
                            <span class="el-dropdown-link user-name">
                                {{userName}}<i class="el-icon-caret-bottom el-icon--right"></i>
                            </span>
                            <template #dropdown>
                                <el-dropdown-menu>
                                    <el-dropdown-item class="clearfix" @click="logout()">
                                        退出登录
                                    </el-dropdown-item>
                                </el-dropdown-menu>
                            </template>
                        </el-dropdown>
                    </div>
                </header>
            </div>
            <!-- 页面主体 -->
            <div class="main-content">
                <div class="view-c">
                    <!-- <keep-alive :include="keepAliveData"> -->
                        <router-view v-if="isShowRouter"/>
                    <!-- </keep-alive> -->
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import { useRouter } from 'vue-router';
export default {
    data() {
        return {
            router: useRouter,
            // 用于储存页面路径
            paths: {},
            // 当前显示页面
            openMenus: [], // 要打开的菜单名字 name属性
            menuCache: [], // 缓存已经打开的菜单
            isShowRouter: true,
            // 数据格式 {text: '首页', name: 'home'}
            // 用于缓存打开的路由 在标签栏上展示
            tagsArry: [],
            isShowAsideTitle: true, // 是否展示侧边栏内容
            main: null, // 页面主要内容区域
            asideClassName: 'aside-big', // 控制侧边栏宽度变化
            // 面包屑
            crumbs: '主页',
            userName: '',
            userImg: '',
            size: '12px',
            // 主页路由名称
            home: 'home',
            isCollapse: false,
            menuItems: [
            {
                name: 'home', // 要跳转的路由名称 不是路径
                size: 18, // icon大小
                type: 'el-icon-s-home', // icon类型
                text: 'Site Navigation', // 文本内容
            },
            {
                name: 'userManagement', // 要跳转的路由名称 不是路径
                size: 18, // icon大小
                type: 'el-icon-user-solid', // icon类型
                text: 'User Management', // 点击侧边栏跳到一个单独的路由页面，需要提前在 router.js 定义
            },
            {
                name: 'contentManagement', // 要跳转的路由名称 不是路径
                size: 18, // icon大小
                type: 'el-icon-s-order', // icon类型
                text: 'Content Management',
                isExternal: true, // 外链 跳到一个外部的 URL 页面
            },
            {
                name: 'rewardsManagement', // 要跳转的路由名称 不是路径
                size: 18, // icon大小
                type: 'el-icon-s-flag', // icon类型
                text: 'Rewards Management', // 点击侧边栏跳到一个单独的路由页面，需要提前在 router.js 定义
            },
            {
                name: 'redemption-management', // 要跳转的路由名称 不是路径
                size: 18, // icon大小
                type: 'el-icon-menu', // icon类型
                text: 'Redemption Management', // 点击侧边栏跳到一个单独的路由页面，需要提前在 router.js 定义
            },
        ],
        }
    },
    mounted() {
        // 设置用户信息
        this.userName = localStorage.getItem('userName')
        this.userImg = localStorage.getItem('userImg')

        this.main = document.querySelector('.sec-right')

        // 监听窗口大小 自动收缩侧边栏
        this.monitorWindowSize()
    },
    computed: {
        // 需要缓存的路由
        keepAliveData() {
            return this.tagsArry.map(item => item.name)
        },
    },
    methods: {
        logout() {
            localStorage.removeItem('loginToken')
            console.log(this.router)
            this.$router.push('/login')
        },
        getMenus(name) {
            let menus
            const tagTitle = this.nameToTitle[name]
            for (let i = 0, l = this.menuItems.length; i < l; i++) {
                const item = this.menuItems[i]
                menus = []
                menus[0] = i
                if (item.text == tagTitle) {
                    return menus
                }
            }
        },

        monitorWindowSize() {
            let w = document.documentElement.clientWidth || document.body.clientWidth
            if (w < 1300) {
                this.shrinkAside()
            }

            window.onresize = () => {
                // 可视窗口宽度太小 自动收缩侧边栏
                if (w < 1300 && this.isShowAsideTitle
                    && w > (document.documentElement.clientWidth || document.body.clientWidth)) {
                    this.shrinkAside()
                }

                w = document.documentElement.clientWidth || document.body.clientWidth
            }
        },
        // 判断
        isShrinkAside() {
            if (!this.isCollapse) {
                this.shrinkAside()
            } else {
                this.expandAside()
            }
        },
        // 收缩
        shrinkAside() {
            this.isCollapse = true
            this.isShowAsideTitle = false

            setTimeout(() => {
                this.asideClassName = ''
                this.main.style.marginLeft = '64px'
            }, 0)
        },
        // 展开
        expandAside() {
            setTimeout(() => {
                this.isCollapse = false
                this.isShowAsideTitle = true
                this.openMenus = this.menuCache
            }, 0)
            this.asideClassName = 'aside-big'
            this.main.style.marginLeft = '230px'
        },
    },
}
</script>

<style scoped lang="less">

</style>