<template>
    <div class="search-box">
            <el-form ref="form" :model="formSearch" class="form-style form-inline"  :inline="true" >
                <el-form-item label="Search by" label-width="80px" class="searchBy">
                    <el-input v-model="formSearch.searchValue" class="search-input" :placeholder="inputPlaceholder || ''"></el-input>
                </el-form-item>
                <el-form-item  class="search-category">
                    <h3 class="title">Category</h3>
                    <el-select v-model="formSearch.category" :placeholder="selectPlaceholder" >
                        <el-option v-for="(item,index) in categoryOptions" :key="index" :label="item" :value="index"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item   class="search-category">
                    <h3 class="title">Csub-category</h3>
                    <el-select v-model="formSearch.csubCategory" :placeholder="selectPlaceholder">
                        <el-option v-for="(item,index) in csubCategoryOptions" :key="index" :label="item" :value="index"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button class="search-btn" @click="onSearch()">{{$t('search_btn')}}</el-button>
                </el-form-item>
            </el-form>
        
    </div>
</template>

<script>
export default {
    props: ['categoryOptions','csubCategoryOptions','selectPlaceholder','inputPlaceholder'],
    data() {
        return {
            formSearch: {
                searchValue: '',
                category:'',
                csubCategory: '',
            }
        }
    },
    methods: {
        onSearch(newVal) {
            this.$emit('onSearch', newVal)
        }
    },
    watch: {
        'formSearch.name'(newVal) {
            this.$emit('searchValue', newVal)
        },
        'formSearch.category'(newVal) {
            this.$emit('category', newVal)
        },
        'formSearch.csubCategory'(newVal) {
            this.$emit('csubCategory', newVal)
        }
    }
}
</script>


