<template>
    <div>
        <el-form :inline="true">
            <el-form-item>
                <el-input v-model="form.select_value" class="select-left" :placeholder="inputPlaceholder || ''"></el-input>
            </el-form-item>
            <el-form-item>
                <el-select v-model="form.select_type" :placeholder="selectPlaceholder" class="select-right">
                    <el-option v-for="(item,index) in options" :key="index" :label="item" :value="index"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="getList()" class="search-btn">SEARCH</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
    export default {
        props: ['options','selectPlaceholder','inputPlaceholder'],
        data() {
            return {
                form: {
                    select_value: '',
                    select_type: '',
                },
            }
        },
        methods: {
            getList(newVal) {
                this.$emit('getList', newVal)
            }
        },
        watch: {
            'form.select_value'(newVal) {
                this.$emit('selectValue', newVal)
            },
            'form.select_type'(newVal) {
                this.$emit('selectType', newVal)
            }
        }

    }
</script>
<style lang="less">
.el-form {
    text-align: left;
    margin-bottom: 20px;
    .el-form-item {
        margin: 0;    
    }
    .select-left {
        margin: 0;
        .el-input__inner {
            width: 580px;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-right: 0;
        }
    }
    .select-right {
        .el-input__inner {
            width: 150px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    .search-btn {
        margin-left: 10px;
    }
    
}
</style>
