<template>
    <div>
        <select-bar
            :options="options"
            :selectPlaceholder="selectPlaceholder"
            @selectValue="getSelectValue"
            @selectType="getSelectType"
            @getList="getlist()"/>
        <el-table :data="tableData" stripe style="width: 100%">
            <el-table-column prop="user_id" label="User Id"> </el-table-column>
            <el-table-column prop="user_name" label="User Name"> </el-table-column>
            <el-table-column prop="user_type" label="User Type"> </el-table-column>
            <el-table-column prop="register_date" label="Register Date"> </el-table-column>
            <el-table-column prop="points_earned" label="Points Earned"> </el-table-column>
            <el-table-column prop="verified" label="Verified"> </el-table-column>
        </el-table>
    </div>
</template>

<script>
import SelectBar from '../../components/SelectBar.vue';
export default {
    components: {
        SelectBar,    
    },
    data() {
        return {
            options: {
                'agent': 'Agent',
                'customer': 'Customer',
                'all': 'All',
            },
            selectPlaceholder: 'User Type',
            SelectInfo: {
                select_value: '',
                select_type: '',
            },
            tableData: [
                {
                    user_id: 12345,
                    user_name: 'Bonnie',
                    user_type: 'Agent',
                    register_date: '2016-05-02',
                    points_earned: 2000,
                    verified: 'true',
                },
                {
                    user_id: 12345,
                    user_name: 'Bonnie',
                    user_type: 'Agent',
                    register_date: '2016-05-02',
                    points_earned: 2000,
                    verified: 'true',
                },
                {
                    user_id: 12345,
                    user_name: 'Bonnie',
                    user_type: 'Agent',
                    register_date: '2016-05-02',
                    points_earned: 2000,
                    verified: 'true',
                },
            ],
        }
    },
    methods: {
        getlist() {
            console.log(this.SelectInfo);
        },
        getSelectValue(val) {
            this.SelectInfo.select_value = val
        },
        getSelectType(val) {
            this.SelectInfo.select_type = val
        }
    }
}
</script>

