<template>
  <router-view/>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'App',
  computed: {
      ...mapState([
          'isShowLoading',
      ]),
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
}
html,body {
  margin: 0;
  padding: 0;
}
</style>
