<template>
    <div class="reward-container">
        <h2>Reward Details</h2>
        <div class="reward-content">
            <div class="head">
                <h3 class="title">
                    Reward A
                </h3>
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane>
                       <template #label>
                        <span>Reward Details</span>
                        </template>
                           <div class="rewardDetailContent">
                                <dl>
                                    <dt>Reward Name:</dt>
                                    <dd>coco</dd>
                                </dl>
                                <dl>
                                    <dt>Reward Name:</dt>
                                    <dd>coco</dd>
                                </dl>
                            </div> 
                       
                        
                    </el-tab-pane>
                    <el-tab-pane label="Stock in" name="second">Stock in</el-tab-pane>
                </el-tabs>
            </div>
            <div class="article">
                <div class="left">
                    <!-- images -->
                    <div class="image"></div>
                    <div class="share-icon">
                        <span class="s-icon1"></span>
                        <span class="s-icon2"></span>
                    </div>
                </div>
                <div class="right">
                    <div class="article-head">
                        <dl>
                            <dt>Reward</dt>
                            <dd>Reward Type: xx</dd>
                            <dd>Status: Active</dd>
                            <dd>Qualitify: 500</dd>
                        </dl>
                        <el-button class="detail-btn">Detail</el-button>
                    </div>
                    <div class="article-bottom">
                        <p>
                            Since the launch of GDC Work Flow, we have been adding new business modules to the platform along with the
                            business expansion of our Global Delivery Center. The updated GDC Workflow now offers Opportunity,
                            Client/Engagement Code, Fee Note modules for engagement management demand, and Translation Center, Procurement,
                            Finance, PES, as well as Markets and Global Network modules for customer services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            formSearch: {
                name: '',
                region: '',
            },
            form: {
                sort: '',
                target: '',
            },
        }
    },
    methods: {
        onSearch() {
            console.log('se!')
        },
        onCreate() {
            console.log('subonCreatemit!')
        },
    },
}
</script>

<style scoped lang="less">
.reward-container {
    padding: 10px;
    padding-top: 5px;
    background: #fff;
    h2 {
        font-size: 16px;
        margin: 20px;
        text-align: center;
    }
}
.reward-search-box {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #dcdcdc;
    display: flex;
    .left {
        flex: 2.5;
        padding: 20px;
        h3 {
            height: 30px;
            line-height: 30px;
            margin: 10px 0;
        }
        .form-style {
            border-right: 2px solid #ddd;
            padding-right: 40px;
        }
        .search-input {
            display: inline-block;
            padding-right: 20px;
            box-sizing: border-box;
            width: 80%;
        }
        .search-btn {
            display: inline-block;
            width: 20%;
        }
    }
    .right {
        flex: 1;
        padding: 30px 20px;
        h3 {
            height: 30px;
            line-height: 30px;
            margin: 10px 0;
        }
        .btn {
            width: 80%;
        }
    }
}
.reward-content {
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #dcdcdc;
    .head{
        padding: 20px 0;
        .form-inline{
            display: inline-block;
            float: none;
        }
    }
    .article {
        display: flex;
        .left {
            flex: 1;
            padding: 0 20px;
            .image{
                width: 100%;
                min-height: 300px;
                background: #dcdcdc;
            }
        }
        .right {
            flex: 2;
            .article-head{
                position: relative;
            }
            dl{
                padding: 0;
                margin-bottom:20px ;
                text-align: left;
                dt,dd{padding: 0; margin: 0;}
                dt{
                    font-size: 16px;
                    height: 24px;
                    line-height: 24px;
                }
                dd{
                    font-size: 14px;
                    margin: 0;
                    margin-inline-start: 0;
                }
            }
            .detail-btn{
                position:absolute;
                right: 20px;
                bottom: 20px;
            }
        }
    }
}
</style>
