<template>
  <div class="reward-container">
    <!-- <h2>Rewards management</h2> -->
    <div class="reward-search-box">
      <div class="search-box-left">
        <SearchBox 
            :categoryOptions="categoryOptions"
            :csubCategoryOptions="csubCategoryOptions"
            :selectPlaceholder="selectPlaceholder"
            @searchValue="getValue"
            @category="getSelectType"
            @csubCategory="getSelectCsubCategory"
            @onSearch="onSearch()"
             />
      </div>
      <div class="search-box-right">
        <el-button
          @click="onCreate"
          class="create-btn"
          icon="el-icon-circle-plus-outline"
          >CREATE</el-button
        >
      </div>
    </div>
    <div class="reward-content">
      <div class="head">
        <el-form
          ref="form"
          :inline="true"
          :model="form"
          label-width="0" 
          class="form-inline"
        >
          <el-form-item >
            <h3 class="title">Sort by</h3>
            <el-select v-model="form.sort" placeholder="select">
              <el-option label="Newest" value="Newest"></el-option>
              <el-option label="B" value="B"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item >
              <h3 class="title">Target</h3>
            <el-select v-model="form.target" placeholder="select">
              <el-option label="A" value="A"></el-option>
              <el-option label="B" value="B"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item >
              <h3 class="title">Status</h3>
            <el-select v-model="form.status" placeholder="select">
              <el-option label="Published" value="Published"></el-option>
              <el-option label="B" value="B"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </div>
      <div class="article">
        <div class="article-item">
            <div class="article-content-left">
            <!-- images -->
            <div class="image">
                <!-- <img src="./../../assets/imgs/test.png" alt="image" /> -->
                <div class="share-icon">
                <span class="s-icon1"></span>
                <span class="s-icon2"></span>
                </div>
            </div>
            <div class="article">
                <h3 class="article-head">Building the resilient organization</h3>
                <div class="article-bottom">
                <p>
                    Most resilient organizations focus on all of these traits to
                    some degree, not just one or two of them. In part, this is
                    because these characteristics often overlap and support one
                    another. For instance, companies that practice stakeholder
                    capitalism are likely focused on trustworthiness and ethical
                    behavior.
                </p>
                <p>
                    Further, these five attributes aren’t immutable, nor do they
                    just occur organically. They require desire, effort, investment,
                    and action to cultivate and maintain. The survey suggests that
                    organizations that deliberately build these attributes into
                    their mindsets and cultures are better positioned to overcome
                    disruptions and help usher in a “better normal” postpandemic.
                    For example, CXOs who said their organizations had done very
                    well in cultivating resilient cultures were about three times
                    more likely than those lacking resilient cultures to say they
                    weathered the events of 2020 well.
                </p>
                </div>
            </div>
            </div>
            <div class="middle-line"></div>
            <div class="article-content-right">
                <el-dropdown class="disableIcon">
                    <span class="el-dropdown-link">
                    <i class=" el-icon-more"></i>
                    </span>
                    <template #dropdown>
                    <el-dropdown-menu>
                        <el-dropdown-item>Disable</el-dropdown-item>
                    </el-dropdown-menu>
                    </template>
                </el-dropdown>
                <i class="el-icon-share"></i>
                <ul>
                    <li>
                    <h4>Reward Type</h4>
                    <span>Coupon</span>
                    </li>
                    <li>
                    <h4>Available to</h4>
                    <span>Coustomer</span>
                    </li>
                    <li>
                    <h4>Status</h4>
                    <span>Active</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="article-item">
            <div class="article-content-left">
            <!-- images -->
            <div class="image">
                <!-- <img src="./../../assets/imgs/test.png" alt="image" /> -->
                <div class="share-icon">
                <span class="s-icon1"></span>
                <span class="s-icon2"></span>
                </div>
            </div>
            <div class="article">
                <h3 class="article-head">Building the resilient organization</h3>
                <div class="article-bottom">
                <p>
                    Most resilient organizations focus on all of these traits to
                    some degree, not just one or two of them. In part, this is
                    because these characteristics often overlap and support one
                    another. For instance, companies that practice stakeholder
                    capitalism are likely focused on trustworthiness and ethical
                    behavior.
                </p>
                <p>
                    Further, these five attributes aren’t immutable, nor do they
                    just occur organically. They require desire, effort, investment,
                    and action to cultivate and maintain. The survey suggests that
                    organizations that deliberately build these attributes into
                    their mindsets and cultures are better positioned to overcome
                    disruptions and help usher in a “better normal” postpandemic.
                    For example, CXOs who said their organizations had done very
                    well in cultivating resilient cultures were about three times
                    more likely than those lacking resilient cultures to say they
                    weathered the events of 2020 well.
                </p>
                </div>
            </div>
            </div>
            <div class="middle-line"></div>
            <div class="article-content-right">
                <el-dropdown class="disableIcon">
                    <span class="el-dropdown-link">
                    <i class=" el-icon-more"></i>
                    </span>
                    <template #dropdown>
                    <el-dropdown-menu>
                        <el-dropdown-item>Disable</el-dropdown-item>
                    </el-dropdown-menu>
                    </template>
                </el-dropdown>
                <i class="el-icon-share"></i>
                <ul>
                    <li>
                    <h4>Reward Type</h4>
                    <span>Coupon</span>
                    </li>
                    <li>
                    <h4>Available to</h4>
                    <span>Coustomer</span>
                    </li>
                    <li>
                    <h4>Status</h4>
                    <span>Active</span>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SearchBox from "./../../components/SearchBox";
export default {
  components: {
    SearchBox
  },
  data() {
    return {
        categoryOptions: {
            'all': 'All',
        },
        csubCategoryOptions: {
            'all': 'All',
        },
        selectPlaceholder: 'Select',
        SelectInfo: {
            name:'',
            category: '',
            csubCategory: '',
        },
      form: {
        sort: "",
        target: ""
      }
    };
  },
  methods: {
      onSearch() {
            console.log(this.SelectInfo);
        },
        getValue(val) {
            this.SelectInfo.name = val
        },
        getSelectCategory(val) {
            this.SelectInfo.category = val
        },
        getSelectCsubCategory(val) {
            this.SelectInfo.csubCategory = val
        }
  }
};
</script>
